@import "../App.css";

.bottom-bar {
    background-color: var(--bottombar-bg);
    color: var(--bottombar-text);
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  .bottom-bar p {
    margin: 0;
  }