.top-bar {
  background-color: var(--topbar-bg);
  color: var(--topbar-text);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  max-height: 50px;
  position: relative;
}

.top-bar .app-name {
  flex-grow: 1;
  text-align: center;
  margin: 0;
  font-size: 2rem;
  animation: colorChange 30s infinite;
}

.hamburger {
  font-size: 2rem;
  cursor: pointer;
}

/* Mobile Menu */
.hamburger-dropdown {
  color: #fff5dc;
  position: absolute;
  top: 60px;
  right: 10px;
  background: #2f4286;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 130px;
  z-index: 1000;
}

.hamburger-dropdown button {
  color: #fff5dc;
  background: none;
  border: none;
  padding: 10px;
  text-align: left;
  max-width: 130px;
  cursor: pointer;
}

.hamburger-dropdown button:hover {
  background: #1d2954;
}

@keyframes colorChange {
  0% { color: #fff5dc; }
  10% { color: #f8cdc4; }
  20% { color: #f1a6ab; }
  30% { color: #e97e93; }
  40% { color: #e2577a; }
  50% { color: #db2f62; }
  60% { color: #e2577a; }
  70% { color: #e97e93; }
  80% { color: #f1a6ab; }
  90% { color: #f8cdc4; }
  100% { color: #fff5dc; }
}
