@import "../App.css";

.top-bar {
    background-color: var(--topbar-bg);
    color: var(--topbar-text);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
    max-height: 50px;
  }
  
  .top-bar .app-name {
    flex-grow: 1;  
    text-align: center;  
    margin: 0;
    cursor: pointer;
  }

  
  .top-bar-button {
    background-color: var(--topbar-button-bg); 
    color: var(--topbar-button-text);
  }
  
  .top-bar-button:hover {
    background-color: var(--topbar-button-h);
  }

  @keyframes colorChange {
    0% {color: #FFF5DC;}
    10% {color: #F8CDC4;}
    20% {color: #F1A6AB;}
    30% {color: #E97E93;}
    40% {color: #E2577A;}
    50% {color: #DB2F62;}
    60% {color: #E2577A;}
    70% {color: #E97E93;}
    80% {color: #F1A6AB;}
    90% {color: #F8CDC4;}
    100% {color: #FFF5DC;}
  }
  
  .top-bar .app-name {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-size: 2rem; /* Optional: adjust size */
    animation: colorChange 30s infinite;
  }